# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/OrderManagement/Frontend/ordermanagementgui/node_modules
/OrderManagement/Frontend/ordermanagementgui/.pnp
/OrderManagement/Frontend/ordermanagementgui/.pnp.js

# testing
/OrderManagement/Frontend/ordermanagementgui/coverage

# production
/OrderManagement/Frontend/ordermanagementgui/build

# misc
/OrderManagement/Frontend/ordermanagementgui/.DS_Store
/OrderManagement/Frontend/ordermanagementgui/.env.local
/OrderManagement/Frontend/ordermanagementgui/.env.development.local
/OrderManagement/Frontend/ordermanagementgui/.env.test.local
/OrderManagement/Frontend/ordermanagementgui/.env.production.local

/OrderManagement/Frontend/ordermanagementgui/npm-debug.log*
/OrderManagement/Frontend/ordermanagementgui/yarn-debug.log*
/OrderManagement/Frontend/ordermanagementgui/yarn-error.log*

